#bookChoice-button > span{
    display:none;
}

.mdl-slider__container{
margin-top:20px !important;
}

#loading{
display:none !important;
}

 @media only screen and (min-device-width : 1440px) and
(max-device-width : 2560px) and (-webkit-min-device-pixel-ratio : 3.5) {

 #audioHolder{
       margin-left: 0px !important;
    width: 435px !important;
  }

}


.mdl-snackbar{
background-color: rgba(50,50,50,0.96) !important;
}

  .ratingStars{
  margin-top:-31px !important;
  font-size: 30px;
  }
  #ratingBox{
     margin-left: 86px;
    width: 200px;
  }


.ui-body-inherit{
width:100%;
}

#global > iframe{
width:auto !important;
display:none;
}
#loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
    }
    @keyframes spin{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}

#loader:before{
        content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SCROLLBAR RAIL ***************/

.scrollbar-rail > .scroll-element,
.scrollbar-rail > .scroll-element div
{
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scrollbar-rail > .scroll-element {
    background-color: #ffffff;
}

.scrollbar-rail > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scrollbar-rail > .scroll-element .scroll-element_size {
    background-color: #999;
    background-color: rgba(0, 0, 0, 0.3);
}

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-element_size {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.5);
}

.scrollbar-rail > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    min-width: 100%;
    padding: 3px 0 2px;
    width: 100%;
}

.scrollbar-rail > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    padding: 0 2px 0 3px;
    right: 0;
    top: 0;
    width: 12px;
}

.scrollbar-rail > .scroll-element .scroll-bar {
    background-color: #d0b9a0;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.scrollbar-rail > .scroll-element .scroll-element_outer:hover .scroll-bar {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* scrollbar height/width & offset from container borders */

.scrollbar-rail > .scroll-content.scroll-scrolly_visible { left: -17px; margin-left: 17px; }
.scrollbar-rail > .scroll-content.scroll-scrollx_visible { margin-top: 17px; top: -17px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-bar { height: 10px; min-width: 10px; top: 1px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-bar { left: 1px; min-height: 10px; width: 10px; }

.scrollbar-rail > .scroll-element.scroll-x .scroll-element_outer { height: 15px; left: 5px; }
.scrollbar-rail > .scroll-element.scroll-x .scroll-element_size { height: 2px; left: -10px; top: 5px; }

.scrollbar-rail > .scroll-element.scroll-y .scroll-element_outer { top: 5px; width: 15px; }
.scrollbar-rail > .scroll-element.scroll-y .scroll-element_size { left: 5px; top: -10px; width: 2px; }

/* update scrollbar offset if both scrolls are visible */

.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -25px; }

.scrollbar-rail > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -25px; }
.scrollbar-rail > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -25px; }

.scrollbar-rail > .scroll-element{
background-color: rgba(208, 185, 160, 0) !important;
}
.scrollbar-rail > .scroll-element .scroll-bar{
    background-color: #EFA22A !important;
}
.scroll-wrapper{
    width:100% !important;
}


          .demo-list-two {
                    width: calc(100% - 16px);
                }

                input {
                    text-align: center;
                }

                .material-icons.md-48 {
                    font-size: 30px;
                }

                .mdl-list__item .mdl-list__item-primary-content {
                    flex-grow: 0;
                    -webkit-flex-grow: 0;
                    text-align: left;
                }


 ::-webkit-input-placeholder {
   color: white;
}

::-webkit-scrollbar {
    display: none;
}

.mdl-textfield__label:after{
  background: #fff !important;
}


.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
  background:white !important;
}

#searchTextBox{
  font-family:'Open Sans';
}

html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}

.demo-layout .demo-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
}

.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.demo-drawer {
  border: none;
}


/* iOS Safari specific workaround */

.demo-drawer .mdl-menu__container {
  z-index: -1;
}

.demo-drawer .demo-navigation {
  z-index: -2;
}


/* END iOS Safari specific workaround */

.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-charts {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.demo-chart:nth-child(1) {
  color: #ACEC00;
}

.demo-chart:nth-child(2) {
  color: #00BBD6;
}

.demo-chart:nth-child(3) {
  color: #BA65C9;
}

.demo-chart:nth-child(4) {
  color: #EF3C79;
}

.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}


/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */

_:-ms-input-placeholder,
:root .demo-graphs {
  min-height: 664px;
}

_:-ms-input-placeholder,
:root .demo-graph {
  max-height: 300px;
}


/* TODO end */

.demo-graph:nth-child(1) {
  color: #00b9d8;
}

.demo-graph:nth-child(2) {
  color: #d9006e;
}

.demo-cards {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.demo-cards .demo-separator {
  height: 32px;
}

.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.demo-cards ul {
  padding: 0;
}

.demo-cards h3 {
  font-size: 1em;
}

.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.demo-options h3 {
  margin: 0;
}

.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}

.demo-options ul {
  margin: 0;
  list-style-type: none;
}

.demo-options li {
  margin: 4px 0;
}

.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}

.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.boxToEdit {
  display: block;
}

@-webkit-keyframes crossChange {
  0% {
    -webkit-filter: drop-shadow(0 1px 10px rgba(255, 255, 255, 0.9));
  }
  50% {
    -webkit-filter: drop-shadow(0 1px 50px rgba(255, 255, 255, 0.9));
  }
  100% {
    -webkit-filter: drop-shadow(0 1px 10px rgba(255, 255, 255, 0.9));
  }
}

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  /* color: #4A3B2E !important; */
}

.br-theme-fontawesome-stars .br-widget {
  margin-top: 0px !important;
}

body {
  background-size: 100% 100%;
}

span {
  cursor: pointer;
}

.beta {
  display: none;
}

;
#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.demo-list-two {
  width: calc(100% - 16px);
}

.mdl-textfield__label:after {
  background-color: white;
}

.mdl-list__item {
  padding: 0px;
  margin-left: 20px;
}

.mdl-list__item--two-line .mdl-list__item-primary-content {
  line-height: 20px;
}

.demo-list-two {
  width: auto !Important;
}

.hue {
  -webkit-animation: hue 10s infinite;
}

@-webkit-keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(180deg);
  }
}

#bocText {
  font-family: 'Open Sans';
  position: absolute;
  font-weight: 300;
  top: 38%;
  font-size: 32px;
  color: #616161;
  white-space: nowrap;
  left: 50%;
  margin-left: -122.5px;
}

.textIntro {
  padding: 20px;
  max-height: 300px;
  margin-top: -20px;
  overflow: scroll;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 320px) {

  .ratingStars{
  margin-top:-31px !important;
  font-size: 30px;
  }
  #ratingBox{
   margin-left: 122px;
    width: 100px;
    margin-top: -7px;
  }

#recommendedSermonBox{
width: 303px !important;
}

 #audioHolder{
       margin-left: 0px !important;
    width: 320px !important;
  }


  .textIntro {
    max-height: 243px !important;
  }
  #enterButton {
    margin-top: -14px !important;
  }
  #sermonContentInside {
    width: 290px !important;
  }
  .mdl-list__item {
    font-size: 17px !important;
  }
  .br-theme-fontawesome-stars .br-widget a {
    font-size: 15px !important;
  }
  .br-theme-fontawesome-stars .br-widget {
    margin-top: 9px !important;
  }
    #teachingTitleOverview{
    white-space:nowrap !important;
  }
  #eventTitleSpan{
    width:200px !important;
  }
   #viewsCount{
  margin-left:calc(100% - 55px)!important;
  display:none;
  }
  #titleSpan{
    text-overflow: ellipsis;
    width:140px!important;
    overflow:scroll !important;
  }
  #sermonContentInside{
display:block !important;
position: relative !important;
}
#secondTabSermon{
left:0% !important;
display:block !important;
position: relative !important;
}
#thirdTabSermon{
left:0% !important;
display:block !important;
position:relative !important;
}

}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) and (orientation: portrait) {
  .textIntro {
    max-height: 286px !important;
  }
  #audioHolder{
       margin-left: 0px !important;
    width: 335px !important;
  }
  #sermonContentInside {
    width: 345px !important;
  }

  #recommendedSermonBox{
      width: 359px !important;
      }
  .ratingStars{
  margin-top:-31px !important;
  font-size: 30px;
  }
  #ratingBox{
      margin-left: 142px;
    width: 100px;
  }

    #teachingTitleOverview{
    white-space:nowrap !important;
  }
  #eventTitleSpan{
    width:200px !important;
  }
  #titleSpan{
    text-overflow: ellipsis;
    width:200px!important;
    overflow:scroll !important;
  }
  div.br-widget.br-readonly {
    margin-left: -12px !important;
  }
  .sermonText {
    font-size: 21px !important;
  }
  .br-theme-fontawesome-stars .br-widget a {
    font-size: 20px !important;
  }
  .br-theme-fontawesome-stars .br-widget {
    margin-top: 9px !important;
  }
   #viewsCount{
  margin-left:calc(100% - 55px)!important;
    display:block !important;
  }
  #sermonContentInside{
display:block !important;
position: relative !important;
}
#secondTabSermon{
left:0% !important;
display:block !important;
position: relative !important;
}
#thirdTabSermon{
left:0% !important;
display:block !important;
position:relative !important;
}

}


@media only screen and (min-device-width: 414px) and (max-device-width: 414px) and (orientation: portrait) {
  .textIntro {
    max-height: 286px !important;
  }
  #ratingBox{
  margin-left: 103px;
    width: 200px;
    margin-top: -10px;
    }

     #audioHolder{
       margin-left: 0px !important;
    width: 414px !important;
  }

  #sermonContentInside {
    width: calc(100% - 18px) !important;
  }
    #teachingTitleOverview{
    white-space:nowrap !important;
  }
  #eventTitleSpan{
    width:200px !important;
  }
  #viewsCount{
    display:block !important;
  }
  #titleSpan{
    text-overflow: ellipsis;
    width:226px;
    overflow:scroll;
  }

  #recommendedSermonBox{
  width:399px !important;
  }
 
  .sermonText {
    font-size: 21px !important;
  }
  .br-theme-fontawesome-stars .br-widget a {
    font-size: 28px !important;
  }
  .br-theme-fontawesome-stars .br-widget {
    margin-top: 2px !important;
  }


#sermonContentInside{
display:block !important;
position: relative !important;
}
#secondTabSermon{
left:0% !important;
display:block !important;
position: relative !important;
}
#thirdTabSermon{
left:0% !important;
display:block !important;
position:relative !important;
}

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #bocText {
    font-size: 60px !important;
    top: 50% !important;
    margin-left: -229.5px !important;
  }
  #textHolderLaunch {
    top: 56% !important;
  }
#ratingBox{
      margin-left: 169px;
    width: 100px;
    margin-top: -10px;
    }
    .ratingStars{
    margin-left: 10px;
    }
#recommendedSermonBox{
width: 750px !important;
}
  #sermonContentInside {
    width: 735px !important;
  }
   #viewsCount{
    display:block !important;
  }
  .sermonText {
    font-size: 26px !important;
  }
  .br-theme-fontawesome-stars .br-widget a {
    font-size: 43px !important;
  }
  .br-theme-fontawesome-stars .br-widget {
    margin-top: -16px !important;
  }
}

@media only screen and (min-width: 1050px) {

  #recommendedPlaylistBox{
  width: 100% !important;
  }

  .searchMarginLeft{
    margin-left:50px !important;
  }
  #globalButton{
   margin-left:50px !important;
  }
  #activity{
    margin-left:50px !important;
  }
  #sermonsButton{
    margin-left:50px !important;
  }
  #secondTabSermon{
    display:block!important;
  }
  #thirdTabSermon{
    display:block!important;
  }
  .demo-content{
    max-width:100% !important;
  }
  #titleSpan{
    text-overflow: ellipsis;
    width:292px;
    overflow:scroll;
  }
    #teachingTitleOverview{
    white-space:nowrap !important;
  }
  .mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop{
    width:32% !important;
  }
  #sermonHeaders{
    width:100% !important;
  }
  #crossLaunch{
   width:300px !important;
   margin-left:-150px !important;
  }
  .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title{
    font-size:17px !important;
    line-height:24px !important;
  }

}




@keyframes animateOpacity {
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

    @keyframes animateOpacity2 {
  0% {
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

#Gradient1 {
   animation: animateOpacity 10s infinite;
}

#Blue {
   animation: animateOpacity2 10s infinite;
}

.br-theme-fontawesome-stars .br-widget a:after{
  /* color:#FFF !important; */
}


.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 18px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f005';
  color: #dddddd;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #ffdf88;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}
@media print {
  .br-theme-fontawesome-stars .br-widget a:after {
    content: '\f006';
    color: black;
  }
  .br-theme-fontawesome-stars .br-widget a.br-active:after,
  .br-theme-fontawesome-stars .br-widget a.br-selected:after {
    content: '\f005';
    color: black;
  }
}


@media (min-device-width: 435px) and (max-device-width: 435px) {
#sermonContentInside{
    width: 402px !important;
    }

     #audioHolder{
       margin-left: 0px !important;
    width: 435px !important;
  }

  }


@media (min-device-width: 411px) and (max-device-width: 411px) {


     #audioHolder{
       margin-left: 0px !important;
    width: 411px !important;
  }

  }

  @media (min-device-width: 360px) and (max-device-width: 360px) {


     #audioHolder{
       margin-left: 0px !important;
    width: 360px !important;
  }

  }



@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) {

.recommended {
    width: 415px !important;
}

}

.mdl-slider__background-upper{
background: rgba(255, 255, 255, 0.85) !important;
}

.mdl-slider__background-lower {
    background: rgb(241, 165, 45) !important;
}

.mdl-slider {
    &:active::-webkit-slider-thumb,
    &::-webkit-slider-thumb {
        background: white !important;
    }

    &:active::-moz-range-thumb,
    &::-moz-range-thumb {
        background: white !important;
    }

    &:active::-ms-thumb,
    &::-ms-thumb {
        background: white !important;
    }
}



.rrssb-buttons{box-sizing:border-box;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;height:36px;margin:0;padding:0;width:100%}.rrssb-buttons:after{clear:both}.rrssb-buttons:after,.rrssb-buttons:before{content:' ';display:table}.rrssb-buttons li{box-sizing:border-box;float:left;height:100%;line-height:13px;list-style:none;margin:0;padding:0 2px}.rrssb-buttons li.rrssb-email a{background-color:#0a88ff}.rrssb-buttons li.rrssb-email a:hover{background-color:#006ed6}.rrssb-buttons li.rrssb-facebook a{background-color:#306199}.rrssb-buttons li.rrssb-facebook a:hover{background-color:#244872}.rrssb-buttons li.rrssb-tumblr a{background-color:#32506d}.rrssb-buttons li.rrssb-tumblr a:hover{background-color:#22364a}.rrssb-buttons li.rrssb-linkedin a{background-color:#007bb6}.rrssb-buttons li.rrssb-linkedin a:hover{background-color:#005983}.rrssb-buttons li.rrssb-twitter a{background-color:#26c4f1}.rrssb-buttons li.rrssb-twitter a:hover{background-color:#0eaad6}.rrssb-buttons li.rrssb-googleplus a{background-color:#e93f2e}.rrssb-buttons li.rrssb-googleplus a:hover{background-color:#ce2616}.rrssb-buttons li.rrssb-youtube a{background-color:#df1c31}.rrssb-buttons li.rrssb-youtube a:hover{background-color:#b21627}.rrssb-buttons li.rrssb-reddit a{background-color:#8bbbe3}.rrssb-buttons li.rrssb-reddit a:hover{background-color:#62a3d9}.rrssb-buttons li.rrssb-pinterest a{background-color:#b81621}.rrssb-buttons li.rrssb-pinterest a:hover{background-color:#8a1119}.rrssb-buttons li.rrssb-pocket a{background-color:#ed4054}.rrssb-buttons li.rrssb-pocket a:hover{background-color:#e4162d}.rrssb-buttons li.rrssb-github a{background-color:#444}.rrssb-buttons li.rrssb-github a:hover{background-color:#2b2b2b}.rrssb-buttons li.rrssb-instagram a{background-color:#125688}.rrssb-buttons li.rrssb-instagram a:hover{background-color:#0c3a5b}.rrssb-buttons li.rrssb-delicious a{background-color:#0b79e5}.rrssb-buttons li.rrssb-delicious a:hover{background-color:#095fb4}.rrssb-buttons li.rrssb-vk a{background-color:#4d71a9}.rrssb-buttons li.rrssb-vk a:hover{background-color:#3d5a86}.rrssb-buttons li.rrssb-hackernews a{background-color:#f60}.rrssb-buttons li.rrssb-hackernews a:hover{background-color:#cc5200}.rrssb-buttons li.rrssb-whatsapp a{background-color:#43d854}.rrssb-buttons li.rrssb-whatsapp a:hover{background-color:#28c039}.rrssb-buttons li.rrssb-print a{background-color:#8d98a2}.rrssb-buttons li.rrssb-print a:hover{background-color:#717f8b}.rrssb-buttons li a{background-color:#ccc;border-radius:2px;box-sizing:border-box;display:block;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-weight:700;height:100%;padding:11px 7px 12px 27px;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;-webkit-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;width:100%}.rrssb-buttons li a .rrssb-icon{display:block;left:10px;padding-top:9px;position:absolute;top:0;width:10%}.rrssb-buttons li a .rrssb-icon svg{height:17px;width:17px}.rrssb-buttons li a .rrssb-icon svg path{fill:#fff}.rrssb-buttons li a .rrssb-text{color:#fff}.rrssb-buttons li a:active{box-shadow:inset 1px 3px 15px 0 rgba(22,0,0,.25)}.rrssb-buttons li.small a{padding:0}.rrssb-buttons li.small a .rrssb-icon{left:auto;margin:0 auto;overflow:hidden;position:relative;top:auto;width:100%}.rrssb-buttons li.small a .rrssb-text{visibility:hidden}.rrssb-buttons.large-format,.rrssb-buttons.large-format li{height:auto}.rrssb-buttons.large-format li a{-webkit-backface-visibility:hidden;backface-visibility:hidden;border-radius:.2em;padding:8.5% 0 8.5% 12%}.rrssb-buttons.large-format li a .rrssb-icon{height:100%;left:7%;padding-top:0;width:12%}.rrssb-buttons.large-format li a .rrssb-icon svg{height:100%;position:absolute;top:0;width:100%}.rrssb-buttons.large-format li a .rrssb-text{-webkit-backface-visibility:hidden;backface-visibility:hidden}.rrssb-buttons.small-format{padding-top:5px}.rrssb-buttons.small-format li{height:80%;padding:0 1px}.rrssb-buttons.small-format li a .rrssb-icon{height:100%;padding-top:0}.rrssb-buttons.small-format li a .rrssb-icon svg{height:48%;position:relative;top:6px;width:80%}.rrssb-buttons.tiny-format{height:22px;position:relative}.rrssb-buttons.tiny-format li{padding-right:7px}.rrssb-buttons.tiny-format li a{background-color:transparent;padding:0}.rrssb-buttons.tiny-format li a .rrssb-icon svg{height:70%;width:100%}.rrssb-buttons.tiny-format li a:active,.rrssb-buttons.tiny-format li a:hover{background-color:transparent}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path{fill:#0a88ff}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path{fill:#0054a3}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path{fill:#306199}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path{fill:#18304b}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path{fill:#32506d}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path{fill:#121d27}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path{fill:#007bb6}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path{fill:#003650}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path{fill:#26c4f1}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path{fill:#0b84a6}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path{fill:#e93f2e}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path{fill:#a01e11}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path{fill:#df1c31}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path{fill:#84111d}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path{fill:#8bbbe3}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path{fill:#398bcf}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path{fill:#b81621}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path{fill:#5d0b11}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path{fill:#ed4054}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path{fill:#b61124}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path{fill:#444}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path{fill:#111}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path{fill:#125688}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path{fill:#061d2e}.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg path{fill:#0b79e5}.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg path{fill:#064684}.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg path{fill:#4d71a9}.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg path{fill:#2d4263}.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg path{fill:#f60}.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg path{fill:#993d00}.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon svg path{fill:#43d854}.rrssb-buttons.tiny-format li.rrssb-whatsapp a .rrssb-icon:hover .rrssb-icon svg path{fill:#1f962d}.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon svg path{fill:#8d98a2}.rrssb-buttons.tiny-format li.rrssb-print a .rrssb-icon:hover .rrssb-icon svg path{fill:#5a656f}.rrssb-buttons li.rrssb-print a .rrssb-icon svg path:nth-child(2){fill:none}
